{% extends "./_layout/layout.html" %}

{% block head %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
        Sorry, an error has occured, Requested page not found!<br>
        </div>
        <div class="error-actions">
        <a href="/" class="btn btn-primary">
            <i class="icon-home icon-white"></i> Take Me Home </a>
        <a href="mailto:{{ admin }}" class="btn btn-default">
            <i class="icon-envelope"></i> Contact Support </a>
        </div>
    </div>
    </div>
</div> <!-- /container -->
{% endblock %}

{% block script %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
